@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Roboto&display=swap');
body{
 margin: 0;
 font-family: 'Roboto', sans-serif;
}

.secondary-text,.main-image,.header-right,.signup-text,.footer,a{
    color: #E5E7EB;
}

.hero,.footer{
 background-color: #1F2937;
}

.header-left{
    font-size: 24px;
    color: #F9FAF8;
}

ul,a{
    list-style: none;
    text-decoration: none;
    font-size: 18px;
    margin: 0;
    padding: 0;
}

.main-text{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}
.head-signup{
    background-color: #3882F6;
    color: #F9FAF8;
    border:none;
    border-radius: 5px;
    font-size: 16px;
    width: 120px;
    height: 30px;
}

.main-image{
    background-color: grey;
    width: 500px;
    text-align: center;
    height: 200px;
}

.information-head{
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.infor-image-sect img{
   width: 150px;
   height: 150px;
   border-style: solid;
   border-color: #3882F6;
   border-radius: 10px;
   margin: 0;
   padding: 0;
}

.qoute-section{
    background-color: #E5E7EB;
    color:#1F2937;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
}
.qoute-author{
    font-weight: bold;
    font-size: 25px;
}
.signup-sub{
    background-color: #3882F6;
}
.sihnup-head{
    color: #F9FAF8;
    font-weight: bolder;
    font-size: 20px;
}
.signup-2{
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: bold;
    border-style: solid;
    border-radius: 4px;
    font-size: 18px;
}
/*giving flex property*/
/*head section*/
.hero{
 display: flex;
 flex-direction: column;
 gap: 120px;
 padding-top: 20px;
 padding-bottom: 160px;
}

.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-left{
    display: flex;
}

ul{
    display: flex;
    gap: 17px;
}

.hero-main{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:60px;
}

.m-text-sec{
    display: flex;
    flex-direction: column;
    flex-basis: 390px;
    gap: 5px;
}
.head-signup{
    align-self: flex-start;
}
.main-image{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
/*information section*/
.information-head{
    text-align: center;
    padding-top: 30px;
}

.infor-image-sect{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 160px;
}

.info-image{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-basis: 70px;
}
.text{
    text-align: center;
}

.information{
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-bottom: 100px;
}
/*qoute section*/
.qoute{
    display: flex;
    text-align: start;
    justify-content: center;
    align-items: center;
    height: 200px;
    padding-top: 88px;
}
.qoute p{
    width: 900px;

}
.qoute-section{
    display: flex;
    flex-direction: column;
    height: 403px;
}
.qoute-author{
    align-self: flex-end;
    padding-right: 50px;
}
/*signup section*/
.signup-text-sec{
    display: flex;
    flex-direction: column;

}
.signup-sub{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    border-radius: 10px;
    gap: 10px;
    width: 800px;
}
.signup-section{
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}
/*footer section*/
.footer{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}